{:assets 
{}
 :current-tab 3
 :file "ws3.veneer"
 :manifest 
{:dependencies 
{}
 :description ""
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "2020-Workshop-3"
 :url "https://kronoslang.io"
 :version "0.1"}
 :name "2020-workshop-3"
 :tabs ("tabs/Cross-Mod.initial.edn" "tabs/FBAM.lke5bc2l79zodsy.edn" "tabs/One-Pole.7wcxyorjego1185.edn" "tabs/draft.e6yb8lg19cci1u5.edn" "tabs/draft.z8j3pwz1773tkj5.edn" "tabs/AR-Env.qpg7906hukbfl5r.edn")}