{:identity "z8j3pwz1773tkj5"
 :patch
{:cables
{["1o7cbpnrmq3xn2d" 0] [:fixed "nq90azvvrxemcpn" 0]
 ["24cz3gcuozgx6tc" 0] [:fixed "2wlir9vkf5gb7is" 0]
 ["24cz3gcuozgx6tc" 1] [:fixed "ge47xnlqb1ot3j9" 0]
 ["24cz3gcuozgx6tc" 2] [:fixed "tq96e4trpn04e21" 0]
 ["2wlir9vkf5gb7is" 0] [:fixed "kz793mkkj29y7u" 0]
 ["3u97087kpawmn87" 0] [:fixed "k361qtaw029x6iw" 0]
 ["3u97087kpawmn87" 1] [:fixed "24cz3gcuozgx6tc" 0]
 ["46i5myqwqql1ynh" 0] [:fixed "f91kmmklph6ocx0" 0]
 ["46i5myqwqql1ynh" 1] [:fixed "wtzq1mrbccq93dy" 0]
 ["7jprtzw9ytvu5zs" 0] [:fixed "24cz3gcuozgx6tc" 0]
 ["7mck9adigwoauhd" 0] [:fixed "46i5myqwqql1ynh" 0]
 ["90y54dfmp48w2vi" 0] [:fixed "hrzadtu96ps6vj1" 0]
 ["alzpxmnmrp2y7vd" 0] [:fixed "1o7cbpnrmq3xn2d" 0]
 ["f91kmmklph6ocx0" 0] [:fixed "aciegg6nd6kr9rx" 0]
 ["hrzadtu96ps6vj1" 0] [:fixed "aciegg6nd6kr9rx" 0]
 ["hrzadtu96ps6vj1" 1] [:fixed "46i5myqwqql1ynh" 0]
 ["k361qtaw029x6iw" 0] [:fixed "alzpxmnmrp2y7vd" 0]
 ["k361qtaw029x6iw" 1] [:fixed "7jprtzw9ytvu5zs" 0]
 ["k361qtaw029x6iw" 2] [:fixed "62y42vdgphce26j" 0]
 ["kz793mkkj29y7u" 0] [:fixed "7mck9adigwoauhd" 0]
 ["nq90azvvrxemcpn" 0] [:fixed "90y54dfmp48w2vi" 0]
 ["wtzq1mrbccq93dy" 0] [:fixed "kk8ee3bs5jadgot" 0]}
 :nodes
{"1o7cbpnrmq3xn2d" 
{:inputs ["a"]
 :label "* 110"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "110"]]
 :pos [-8 230]
 }
 "24cz3gcuozgx6tc" 
{:inputs ["gate" "attack" "release"]
 :label "AR-Env($gate $attack $release)"
 :outputs [""]
 :parsed [:fn "AR-Env" [:tuple [:free-var "gate"] [:free-var "attack"] [:free-var "release"]]]
 :pos [419 14]
 }
 "2wlir9vkf5gb7is" 
{:inputs ["a"]
 :label "& 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "&" [:float "1"]]
 :pos [299 -15]
 }
 "3u97087kpawmn87" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [413 228]
 :selected true}
 "46i5myqwqql1ynh" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-29 -129]
 }
 "62y42vdgphce26j" 
{:inputs []
 :label "0.7"
 :outputs [""]
 :parsed [:number-widget :float "o91jhf" "0.39119" ""]
 :pos [141 1]
 }
 "7jprtzw9ytvu5zs" 
{:inputs ["a"]
 :label "* 3000"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:number-widget :float "iez0c4" "1490" ""]]
 :pos [210 125]
 }
 "7mck9adigwoauhd" 
{:inputs ["x"]
 :label "Fraction($x)"
 :outputs [""]
 :parsed [:fn "Fraction" [:tuple [:free-var "x"]]]
 :pos [104 -127]
 }
 "90y54dfmp48w2vi" 
{:inputs ["a"]
 :label "/ 12"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "12"]]
 :pos [-339 230]
 }
 "aciegg6nd6kr9rx" 
{:inputs []
 :label "[0 3 2 4 5 8 2 3]"
 :outputs [""]
 :parsed [:list [:float "0"] [:number-widget :float "bb5l9f" "1" ""] [:number-widget :float "2wv7t5" "14" ""] [:float "4"] [:number-widget :float "-mrnk57" "-8" ""] [:number-widget :float "27i6vy" "19" ""] [:float "2"] [:float "3"]]
 :pos [-390 -46]
 }
 "alzpxmnmrp2y7vd" 
{:inputs ["freq"]
 :label "Gen:Saw($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Saw" [:tuple [:free-var "freq"]]]
 :pos [128 229]
 }
 "f91kmmklph6ocx0" 
{:inputs ["tuple"]
 :label "Arity($tuple)"
 :outputs [""]
 :parsed [:fn "Arity" [:tuple [:free-var "tuple"]]]
 :pos [-111 -127]
 }
 "ge47xnlqb1ot3j9" 
{:inputs []
 :label "0.01"
 :outputs [""]
 :parsed [:number-widget :float "-kt8t73" "0.017088" ""]
 :pos [303 -202]
 }
 "hrzadtu96ps6vj1" 
{:inputs ["vector" "constant-index"]
 :label "Select($vector $constant-index)"
 :outputs [""]
 :parsed [:fn "Select" [:tuple [:free-var "vector"] [:free-var "constant-index"]]]
 :pos [-87 11]
 }
 "k361qtaw029x6iw" 
{:inputs ["sig" "cutoff" "resonance"]
 :label "Filter:Lowpass($sig $cutoff $resonance)"
 :outputs [""]
 :parsed [:fn "Filter:Lowpass" [:tuple [:free-var "sig"] [:free-var "cutoff"] [:free-var "resonance"]]]
 :pos [281 224]
 }
 "kk8ee3bs5jadgot" 
{:inputs []
 :label "0.5"
 :outputs [""]
 :parsed [:number-widget :float "53hjfq" "0.41768" ""]
 :pos [-456 -156]
 }
 "kz793mkkj29y7u" 
{:inputs ["a"]
 :label "< 0.5"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "<" [:float "0.5"]]
 :pos [270 -122]
 }
 "nq90azvvrxemcpn" 
{:inputs ["b"]
 :label "Math:Pow(2 $b)"
 :outputs [""]
 :parsed [:fn "Math:Pow" [:tuple [:float "2"] [:free-var "b"]]]
 :pos [-180 230]
 }
 "tq96e4trpn04e21" 
{:inputs []
 :label "0.3"
 :outputs [""]
 :parsed [:number-widget :float "tc2gaq" "0.16584" ""]
 :pos [419 -143]
 }
 "wtzq1mrbccq93dy" 
{:inputs ["freq"]
 :label "Gen:Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Phasor" [:tuple [:free-var "freq"]]]
 :pos [-320 -156]
 }}
 :scale 1
 :scroll [0 0]}}